/* html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
} */

html{
  overflow: auto;
}

body {font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    font-size: 14px;
    line-height: 2;
    color: #484848;
    background-color: #fff;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  
  /* header */

  .overlay{
    display: none;
  }

  /* .overlay-content{
    display: none;
  } */

  /* .overlay a img{
    display: none;
  } */
  
  
  header .image{  
    height: 34px;
    width: 34px;
    margin-right: 20px;
    color: green;
  }
  


  header nav{
    border-bottom: 1px solid grey;
    height: 82px;
  }
  
  header h1{
    font-weight: 800;
    font-size: 60px;
    color: #333333;
    margin-bottom: 15px;
  }
  
  hr{
    height: 10;
  }
  
  h1{
    font-weight: 800;
    font-size: 60px;
    color: #333333;
    margin-bottom: 48px;
  }
  
  li{
    list-style: none;
  }
  
  p {
    font-size: 16px;
    font-weight: normal;
  }

  .header-right{
    margin: 0 auto;
}

.main{
  padding-top: 82px;
  height: 640px;
  position: relative;
}

.main img{
  height: 640px;
  position: absolute;
}

.main-img{
  text-align: center;
  max-width: 100%;
  width: 100%;
}

/* .form{
  background: white;
  width: 450px;
  height: 480px;
  padding: 20px;
  border-radius: 1%;
  position: absolute;
  top: 150px;
  right: 250px;
} 

.main h1{
  font-size: 40px;
} */

/* .form-control{
  height: 46px;
  padding: 11px;
} */

.former{
  /* display: inline-flex; */
}


.container {
  /* width: auto;  */
  /* margin-left: auto;
  margin-right: auto; */
  /* overflow: hidden; */
  max-width: 1080px;
  color: #484848;
  margin: 48px auto;
  padding: 20px 0;
}

 h2{
  font-weight: bold;
  font-size: 24px;
}

.host p{
  line-height: 1.8rem;
}

h3{
  font-size: 32px;
  font-weight: normal;
}

.explain{
  padding-top: 45px;
}

/* <--globle--> */

.global p{
  font-size: 16px;
  color: #767676;
}

.global button{
  font-weight: bold;
  color: #484848;
  border-width: 2px;
}
.global button:hover{
  text-decoration: none;
}

.global img{
  max-width: 100%;
  height: auto;
}

/* <--inner--> */
.inner{
  line-height: 1.8rem;
  color: #767676;
}

.inner ul li{
  font-size: 16px;
  font-weight: normal;
  color: rgb(27, 29, 31);
  list-style: none;
  line-height: 2.8rem;
}

.fa-check{
  margin-right: 15px;
}

.only-img{
  width: 100%;
}



/* <--texter--> */
.texter p{
  font-size: 16px;
  color: #767676;
}

.texter button{
  font-weight: bold;
  color: #484848;
  border-width: 2px;
}

.texter img{
  max-width: 100%;
  /* height: auto; */
}
/* <--grid--> */

.card3 {
  width: 100%;
  margin: 20px;
  border-radius: 5px;
  margin: 0;
}

.image3 {
  width: 350px;
  height: 200px;
  object-fit: cover;
  border-radius: 5px 0 0 5px;
  margin-right: 10px;
}

.grid h3{
  font-size: 24px;
  font-weight: bold;
}

.grid h5{
  font-size: 16px;
  font-weight: bold;
  color: #444;
}

.grid p{
  margin: 0;
  color: #666;
}


/* <--module--> */
.module img{
  width: 1280px;
}

.module{
  position: relative;
}

.module h1{
 color: white;
}

.module3 {
  position: absolute;
  top: 22%;
  left: 22%;
}

.module2 button{
  font-weight: bold;
  color: #484848;
}



nav a{
  font-weight: bold;
}

.collapse a{
  font-size: 14px;
  margin: 12px;
}






.block h2{
  font-size: 60px;
  color: #484848;
}



a{
  font-size: 16px;
}


.wright{
  display: flex;
}

.wright h2{
  margin-right: 20px;
}






.list-line ul{
  padding: 0;
  margin: 0;
}


.content li {
  padding: 24px 0;
  border-bottom: 1px solid #ebebeb;
}



/* .card3 {
  width: 100%;
  margin: 20px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 3px 6px #ccc;
}
.box3 {
  display: flex;
}
.image3 {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 5px 0 0 5px;
  margin-right: 10px;
}
.grid h5 {
  font-size: 150%;
  margin: 10px;
  color: #444;
}
.grid p {
  padding: 10px;
  color: #666;
} */



/* <--footer--> */
.articles span{
  color: white;
  border-radius: unset;

}

.articles h4 {
  font-weight: 800;
}

.articles a{
  font-weight: 600;
  color: #767676;
  font-size: 14px;
}

.articles h4{
  font-size: 14px;
  color: #484848;
}

.articles ul {
  line-height: normal;
  margin-top: 16px;
  padding: 0;
}


footer{}

.summary{
  position: relative;
}


.summary img{
  position: relative;
  top: 10px;
}
.summary a{
  color: #767676;
  font-weight: bold;
  font-size: 14px;
  line-height: 1;
  position: absolute;
  top: 15%;
  left: 30px;
}

.summary p{
  position: absolute;
  left: 30px;
}

.layout{
  margin-bottom: 4rem;
}

footer img{
  height: 1.5em;
  width: 1.5em;
}

.fab{
  color: #767676;
  margin-right: 20px;
  position: relative;
  top:-30px;
}



/* 480px〜599px：SP横
------------------------------ */
@media screen and (min-width:544px) and (max-width:767px) { 
  .container{
    width: 300px;
  }
 }
   
 /* 600px〜959px：タブレット
 ------------------------------ */
 @media screen and (min-width:400px) and (max-width:744px) {

  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
    display: block;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    display: block;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  .overlay span img{
    display: block;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  
  .container{
    width: 94%;
    padding: 15px;
  }

  .header-stay img{
    /* display: none; */
  }

  .header-right{
     display: none;
  }

  .header-stay{
    display: none;
  }

  .main{
    padding-top: 0;
  }

  .main img{
    width: 100%;
    max-width: 100%;
    height: auto;
  }

  /* <--form--> */
  .main img{
    position: relative;
  }

  .main h1{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    color: white;
    font-size: 36px;
    margin: 115px 5px 20px 5px;
  }

  .form{
    width: 92%;
    margin: 0 auto;
  }

  .form label{
    margin-top: 15px;
    font-weight: bold;
    font-size: 18px;

  }


  h1{
    font-size: 38px;
  }
  h3{
    font-size: 20px;
  }
  .global p{
    line-height: normal;
  }
  .global img{
    /* width: 100%;
    max-width: 100%;
    height: auto; */
    margin: 0 0;
  }
  .list-line ul{
    margin-top: 15px;
  }
  .only-img{
    width: 648px;
    width: 100%;
  }
  .outer p{
    margin-bottom: 3rem;
  }
  .block h2{
    font-size: 40px;
    font-weight: normal;
  }
  .cell h3{
    font-weight: bold;
  }
  .cell p{
    margin-bottom: 3rem;
  }
  .grid h5, p{
    font-size: 16px;
  }
  .grid a{
    display: none;
  }
  footer .container .articles{
    display: none;
  }
  .fab{
    display: none;
  }
  footer hr{
    display: none;
  }
  .summary{
    
  }
  .module img{
    height: auto;
  }

  .layout span{
    display: none;
  }

  .card img{
    width: 100px;
    height: 100px;
 }

 .card3 {
  width: 100%;
  margin: 20px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 3px 6px #ccc;
}
.box3 {
  display: flex;
}
.image3 {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px 0 0 5px;
  margin-right: 10px;
}
.grid h5 {
  font-size: 150%;
  margin: 10px;
  color: #444;
}
.grid p {
  padding: 10px;
  color: #666;
}

.grid a {
  display: none;
}




}

/* 960px〜1279px：小型PC
------------------------------ */
@media screen and (min-width:745px) and (max-width:1199px) {
  .container{
    width: 630px;
  }
  .main{
    padding-top: 0;
    overflow: hidden;
  }


  .main img{
    width: 100%;
    max-width: 100%;
    height: 312px;
    object-fit: cover;
    position: relative;
  }

  .overlay {
    display: block;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    display: block;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  .overlay a img{
    display: block;
  }

  .overlay span img{
    display: block;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }


  /* <--form--> */

  .main h1{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    color: white;
    font-size: 36px;
    margin-top: 230px;
  }
  

  .form{
    width: 70%;
    margin: 0 auto;
  }

  .former{
    display: flex;
    width: 100%;
  }

  .form label{
    margin-top: 15px;
    font-weight: bold;
    font-size: 18px;
  }

  .form-group2{
    width: 100%;
  }
  .form-group3{
    width: 50%;
  }


  .header-stay img{
    display: none;
  }

  .header-right{
     display: none;
  }

  .header-stay{
    display: none;
  }




  .explain, .host{
    /* padding: 0 40px; */
  }
  h1{
    font-size: 38px;
  }
  h3{
    font-size: 20px;
  }
  .global p{
    line-height: normal;
  }
  .list-line ul{
    margin-top: 15px;
  }
  .only-img{
    width: 648px;
  }
  .outer p{
    margin-bottom: 3rem;
  }
  .block h2{
    font-size: 40px;
    font-weight: normal;
  }
  .cell h3{
    font-weight: bold;
  }
  .cell p{
    margin-bottom: 3rem;
  }

  .grid h5, p{
    font-size: 16px;
  }
  .grid a{
    display: none;
  }

  

  .card3 {
    width: 220px;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0 3px 6px #ccc;
    padding: 0;
  }

 
  
  .image3 {
    width: 220px;
    height: auto;
    /* object-fit: cover; */
    border-radius: 5px 0 0 5px;
    margin-right: 10px;

  }
  .grid h5 {
    font-size: 14px;
    margin: 10px;
    color: #444;
  }
  .grid p {
    font-size: 14px;
    padding: 5px;
    color: #666;
  }
  



  footer .container{
    width: 95%;
    padding: 0 30px;
  }



 }
   
 /* 1280px〜：大型PC
 ------------------------------ */
 @media screen and (min-width:1200px) {
  .main img{
    height: 640px;
    position: relative;
  }
  
  .form{
    background: white;
    width: 450px;
    height: 480px;
    padding: 20px;
    border-radius: 1%;
    position: absolute;
    top: 150px;
    right: 250px;
    
  } 
  
  .main h1{
    font-size: 40px;
  }

  .former{
    display: flex;
    width: 100%;
  }
  .form-group2{
    width: 100%;
  }
  .form-group3{
    width: 50%;
  }
  .form h2{
    font-size: 40px;
  }
  .form p{
    vertical-align: baseline;
  }

  .main img{
    object-fit: cover;
  }


 }